body {
 background-color:red;
 align-items: center;
 justify-content: center;
}
.display
{
	width: 40%;
	height: 100%;
  background-color: white;
 	align-self: center;
  position: absolute;
  opacity: 0.5;
  z-index: 1;
  left: 30%;
  display: none;
   }
.displaycover
{
  width: 40%;
  height: 100%;
  align-self: center;
  position: absolute;
  z-index: 2;
  left: 30%;
  display: none;
   }
.proftaak
{
  width: 90%;
  height: 40%;
  background-image: url("img/Proftaakme.png");
  background-repeat: round;
  align-self: center;

  position: absolute;
  top: -13%;
  left:5%;
}
.proftaakhome
{
    width: 36%;
    height: 10%;
    background-image: url(img/Proftaakme.png);
    background-repeat: round;
    align-self: center;
    position: absolute;
    top: 0%;
    left: 32%;
    z-index: 3;
}
.SCOback
{
    width: 36%;
    height: 10%;
    background-image: url(img/SCOback.png);
    background-repeat: round;
    align-self: center;
    position: absolute;
    top: 0%;
    left: 32%;
    z-index: 3;
}
.DEDback
{
    width: 36%;
    height: 10%;
    background-image: url(img/DEDback.png);
    background-repeat: round;
    align-self: center;
    position: absolute;
    top: 0%;
    left: 32%;
    z-index: 3;
}
.UEXback
{
    width: 36%;
    height: 10%;
    background-image: url(img/UEXback.png);
    background-repeat: round;
    align-self: center;
    position: absolute;
    top: 0%;
    left: 32%;
    z-index: 3;
}
.PTback
{
    width: 36%;
    height: 10%;
    background-image: url(img/PTback.png);
    background-repeat: round;
    align-self: center;
    position: absolute;
    top: 0%;
    left: 32%;
    z-index: 3;
}
.bumper
{
  top: 15%;
}
